.vscode
venv
deploy
/trec/
/target/
target
venv
*.pyc
__pycache__
**/*.rs.bk
Cargo.lock
/data
*.ranklib
*-ranklib*
/news-bg*/
/ent-*/
/bg-*/
/logs/
*.model
/pyfastrank/.eggs
/pyfastrank/.pypi
/pyfastrank/build/
/pyfastrank/dist/
*.egg-info
*.so
*.dll
*.dylib
.mypy_cache
*.tar.gz
examples/msn30k*.gz
fastrank/fastrank
